.github/**
.husky/**
.vscode/**
.vscode-test/**
config/**
coverage/**
node_modules/**
out/**
src/**
web/**
**/*.ts
**/*.map
.gitignore
.oxlintrc.json
.prettierrc
esbuild.mjs
tsconfig.json
vitest.config.mts
*.vsix
.nvmrc
